#wrap .swiper-wrap{
  width: 100%;
  position: relative;
}
#wrap .swiper-wrap .list{
  overflow: hidden;
  list-style: none;
  position: absolute;
}
#wrap .swiper-wrap .list li{
  float: left;
}
#wrap .swiper-wrap .list li img{
  width: 100%;
  display: block;
}
#wrap .swiper-wrap .point-wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#wrap .swiper-wrap .point-wrap span{
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: pink;
  border-radius: 50%;
  margin-right: 3px;
}
#wrap .swiper-wrap .point-wrap span.active{
  background-color: orange;
}
